<html>

  <head>
    <title>Lightbox Gallery</title>
    <link rel = "stylesheet" type = "text/css" href = "css/stylesheet.css">
    <link href = "https://fonts.googleapis.com/css?family=Raleway:100" rel = "stylesheet" type = "text/css">
    <script src = "../js/lightbox.js"></script>
    <script src = "../js/photos.js"></script>
  </head>

  <body>

    <h1>Lightbox Photo Gallery</h1>
    <hr>
    <br>
    <hr>
    <div id="flickr"></div>

  </body>

</html>
